@font-face {
    font-family: 'NovaBold';
    src: url('/Bold-webfont.eot');
    src: url('/Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Bold-webfont.woff2') format('woff2'),
         url('/Bold-webfont.woff') format('woff'),
         url('/Bold-webfont.ttf') format('truetype'),
         url('/Bold-webfont.svg#Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NovaRegular';
    src: url('/Regular-webfont.eot');
    src: url('/Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Regular-webfont.woff') format('woff'),
         url('/Regular-webfont.ttf') format('truetype'),
         url('/Regular-webfont.svg#Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NovaThin';
    src: url('/Thin-webfont.eot');
    src: url('/Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Thin-webfont.woff2') format('woff2'),
         url('/Thin-webfont.woff') format('woff'),
         url('/Thin-webfont.ttf') format('truetype'),
         url('/Thin-webfont.svg#Thin') format('svg');
    font-weight: normal;
    font-style: normal;

}
