@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./colors.module.scss";
@import "./fonts.module.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NovaThin', sans-serif;
  background-color: $white-brand;
  color: $black-brand;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
